<div class="thread-heading">
  <button class="mat-raised-button mat-button-base mat-warn right" (click)="deleteThread()">Delete Thread</button>
  <h2 mat-dialog-title>{{thread.title}}
  </h2>
  <span class="username">{{thread.userId}}</span>
</div>
<mat-dialog-content class="mat-typography thread-dialog">
  <div class="margin-bottom">
    <div class="thread-content">
      {{thread.text}}
    </div>
  </div>

  <app-comment-form *ngIf="thread !== undefined" [threadId]="thread.id"></app-comment-form>
  
  <app-comment *ngFor="let comment of comments" [comment]=comment></app-comment>
</mat-dialog-content>